body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  margin: 10px;
}

.panel {
  margin: 10px;
}

#map {
  height: 70vh;
  width: 100%;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}






/* Botón para acceder a tv.html.
Ocultamos el botón, y lo mostramos solo en pantallas de ordenador 
Por defecto, ocultamos el botón */
.solo-ordenador {
  display: none !important;
}
/* 768px: se mostrará en tablets horizontales, portátiles y PCs */
@media (min-width: 768px) {
  .solo-ordenador {
    display: inline-block !important;
  }
}

